.new-do-it{
    display: inline-block;
    margin-left: 15px;
    &>button{
        background: #000;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
        border: 2px solid black;
        transition: 1s;
        &:hover{
            border: 2px solid blue;
        }
    }
}

.info-task-wrapper {
    button {
        background: transparent;
        border: 1px solid #bcbfc7;
        outline: none;
        border-radius: 50%;
        margin: 0 10px;
    }
    .priority {
        margin-bottom: 20px;
    }
    textarea {
        width: 40vw;
        height: 40vh;
        border: 1px solid black;
        padding: 5px;
        &:focus {
            border: 1px solid black;
            outline: none;
        }
    }
    .btn-create {
        margin: 40px auto;
        position: relative;
        display: block;
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        transition: 1s;
        &:hover {
            background-color: #97F2CE;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }
        &:active {
            border: #E8494E;
        }
        &:after {
            content: attr(data-tips);
            display: block;
            position: absolute;
            right: -70px;
            top: -40px;
            transform: translate(0, 0);
            background: #bcbfc7;
            width: 50px;
            border-radius: 5px;
            padding: 10px 15px;
            opacity: 0;
            transition: 1.5s
        }
        &:hover::after {
            opacity: 1;
        }
    }
}