
$borederThickness: 4px;

.low-priority{
    border: $borederThickness solid green;
}
.normal-priority{
    border: $borederThickness solid yellow;
}
.high-priority{
    border: $borederThickness solid red;
}

.todo-wrapper{
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}


.task{
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    &>div{
        word-wrap: break-word;
        outline: none;
    }
}

.task+button{
    margin-bottom: 20px;
}

.pen{
    background-image: url('../../theme/assets/pen.svg');
    background-size: cover;
    background-color: transparent;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.task-info{
    margin-bottom: 20px;
}

.priority{
    &>div{
        display: inline-block;
        margin-right: 20px;
    }
    button{
        background: none;
        margin-right: 5px;
        border: 1px solid gray;
        outline: none;
        border-radius: 50%;
        &:active{
            background: #BFAFAF;
        }
    }
}

.btn{
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #000;
    outline: none;
    margin-right: 5px;
    padding: 5px 15px;
    transition: 1s;
    &:hover{
        border: 2px solid blue;
    }

}

.time{
    font-style: italic;
}