.app-container{
    background: #fff;
    padding: 30px;
    height: 100vh;
    overflow: hidden;
    max-width: 1170px;
    margin: 0 auto;
    h1{
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #000; 
    }
}
.app{ 

    display: flex;

    &>div{
        display: inline-block;
        width: 25%;
        padding: 0 10px;
        &:first-of-type{
            padding-left: 0;
        }
        &:last-of-type{
            padding-right: 0;
        }
        &>span{
            display: inline-block;
            margin-bottom: 20px;
        }
    }
    &:after{
        content: '';
        display: block;
        width: 1px;
        height: 1px;
        clear: both;
    }
}